In [8]:
import pandas as pd
import numpy as np
import statistics as stat
import seaborn as sns

In [9]:
fd = sns.load_dataset('mpg')

In [10]:
data = [1,2,3,2,5,4,2,4,33,23,2]

In [11]:
stat.mean(data)

7.363636363636363

In [12]:
stat.median(data)

3

In [13]:
fd.mode()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,13.0,4.0,97.0,150.0,1985,14.5,73.0,usa,ford pinto
1,NaN,NaN,NaN,NaN,2130,NaN,NaN,NaN,NaN

In [14]:
df = sns.load_dataset("iris")

In [15]:
stat.mean(fd['mpg'])

23.514572864321607

In [16]:
stat.median(fd['mpg'])

23.0

In [17]:
stat.mode(fd['name'])

'ford pinto'

In [18]:
len(fd[fd['mpg']== 13.0])

20

In [19]:
fd.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [24]:
stat.pstdev(fd["mpg"])/stat.mean(fd["mpg"])*100

33.19711187745463

In [27]:
stat.pstdev(fd["cylinders"])/stat.mean(fd["cylinders"])*100

31.14457173167872

In [31]:
fd.drop(["origin","name"],axis = 1,inplace = True)

In [32]:
fd

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70
...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82
394,44.0,4,97.0,52.0,2130,24.6,82
395,32.0,4,135.0,84.0,2295,11.6,82
396,28.0,4,120.0,79.0,2625,18.6,82
397,31.0,4,119.0,82.0,2720,19.4,82

In [33]:
fd.mean()

mpg               23.514573
cylinders          5.454774
displacement     193.425879
horsepower       104.469388
weight          2970.424623
acceleration      15.568090
model_year        76.010050
dtype: float64

In [38]:
fd["mpg"].skew()

0.45706634399491913

In [39]:
fd["mpg new"] = fd["mpg"].skew()

In [40]:
fd

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,mpg new
0,18.0,8,307.0,130.0,3504,12.0,70,0.457066
1,15.0,8,350.0,165.0,3693,11.5,70,0.457066
2,18.0,8,318.0,150.0,3436,11.0,70,0.457066
3,16.0,8,304.0,150.0,3433,12.0,70,0.457066
4,17.0,8,302.0,140.0,3449,10.5,70,0.457066
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,0.457066
394,44.0,4,97.0,52.0,2130,24.6,82,0.457066
395,32.0,4,135.0,84.0,2295,11.6,82,0.457066
396,28.0,4,120.0,79.0,2625,18.6,82,0.457066
397,31.0,4,119.0,82.0,2720,19.4,82,0.457066

In [42]:
stat.mode([5,8,8,16,24,24,3016,24])

24